body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-header .container {
  display: flex;
  justify-content: space-between;
}

.header-menu {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 117%;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  margin-right: 76px;
  padding: 24px 0;
}
.header-logo-accent {
  color: #2e2f42;
}

.menu {
  display: flex;
  gap: 40px;
  margin-right: 76px;
}

.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.menu-item {
  padding: 24px 0;
}

.address {
  display: flex;
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
}

.contacts {
  display: flex;
  gap: 40px;
}

.main-page {
  background-color: #2e2f42;
  padding: 188px 0;
}

.main-page .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.main-page-title {
  display: flex;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
}

.main-page-button {
  display: block;
  font-family: "Roboto", sans-serif;
  background-color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.facts {
  padding: 120px 0;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.facts-menu {
  display: flex;
  gap: 24px;
}

.facts-item {
  width: calc((100% - 72px) / 4);
}

.facts-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.facts-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  padding: 120px 0;
}

.team .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-title {
  display: flex;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-members {
  display: flex;
  gap: 24px;
}

.member {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.card {
  background: #fff;
  padding: 32px 0;
}

.member-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.member-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.portfolio {
  padding: 120px 0;
}

.portfolio .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-title {
  display: flex;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
  justify-content: center;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-card {
  background-color: #ffffff;
  width: calc((100% - 48px) / 3);
  justify-content: center;
}

.portfolio-item-descr {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #2e2f42;
  max-width: 264px;
}

.footer-logo-accent {
  color: #f4f4fd;
}
