body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 117%;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.menu .logo .accent {
  color: #2e2f42;
}

.accent:hover,
.accent:active,
.accent:focus {
  color: #404bbf;
}

.logo:hover,
.logo:active,
.logo:focus {
  color: #404bbf;
}

.menu ul a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu ul a:hover,
.menu ul a:focus {
  color: #404bbf;
}

address {
  font-style: normal;
}

.contacts a {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts a:hover,
.contacts a:active,
.contacts a:focus {
  color: #404bbf;
}
.main-page {
  background-color: #2e2f42;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  width: 496px;
  margin-top: 188px;
  margin-bottom: 0;
}
.main-page-button {
  font-family: "Roboto", sans-serif;
  background-color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;

  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border: none;
  margin-top: 48px;
  margin-bottom: 188px;
}

.main-page-button:hover,
.main-page-button:active,
.main-page-button:focus {
  background-color: #404bbf;
}

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #2e2f42;
}

.team {
  background-color: #f4f4fd;
}
.team-img {
  background-color: #ffffff;
}

.footer {
  background-color: #2e2f42;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 117%;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.logo-footer .accent {
  color: #f4f4fd;
}

.accent:hover,
.accent:active,
.accent:focus {
  color: #404bbf;
}

.logo-footer:hover,
.logo-footer:active,
.logo-footer:focus {
  color: #404bbf;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #fff;
}

.page-header .container {
  display: flex;
  gap: 100px;
}

.menu {
  display: flex;
  gap: 40px;
}

.page-header .contacts {
  display: flex;
  gap: 40;
}
